@model TaskManagementSystem.ViewModel.UpdateTaskStatusViewModel

<form asp-action="UpdateStatus" method="post">
    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label asp-for="Status"></label>
        <select asp-for="Status" class="form-control">

            <option value="To Do">To Do</option>

            <option value="In Progress">In Progress</option>

            <option value="Done">Done</option>

        </select>
    </div>

    <button type="submit" class="btn btn-primary">
        save
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Cancel

    </a>

</form>